#arrowIcon {
  display: none;
  animation: updown 2s ease infinite;
  position: relative;
  margin: 2rem auto 0;
}

.header__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__container h1 {
  font-size: 2.2rem;
  margin-left: 5rem;
  text-align: left;
}

.header__container h5 {
  color: var(--color-primary);
  font-size: 5rem;
  margin-left: 5rem;
}

#arrowIcon {
  animation: updown 2s ease infinite;
  position: relative;
  margin: 2rem auto 0;
}
/* =================== CTA ========================== */
.cta {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-left: 5rem;
}

/* =================== HEADER SOCIALS ========================== */
.header__socials {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  margin-top: 2rem;
}

.header__socials::after {
  background: var(--color-primary);
  content: '';
  height: 3rem;
  width: 1px;
}

/* =================== ME ========================== */
/* .me {
  background: linear-gradient(var(--color-primary), transparent);
  border-radius: 12rem 12rem 0 0;
  height: 32rem;
  left: 50%;
  margin-top: 4rem;
  overflow: hidden;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  position: absolute;
  transform: translate(-50%);
  width: 22rem;
} */

/* =================== SCROLL DOWN ========================== */
.scroll__down {
  font-size: 0.9rem;
  font-weight: 300;
  margin-left: auto;
  position: relative;
  top: 5rem;
  transform: rotate(90deg);
}

/* ======================== MEDIA QUERIES (LARGE DEVICES) ===================== */
@media screen and (min-width: 1920px) {
  header {
    height: 100vh;
    margin: 0rem auto 0 auto;
    width: 1920px;
  }

  .header__container {
    justify-content: center;
  }

  .header__socials {
    margin-top: 0rem;
    position: absolute;
    top: 10rem;
  }

  /* =================== SCROLL DOWN ========================== */

  .scroll__down {
    top: 18rem;
  }
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  /* =================== HEADER SOCIALS ========================== */
  .header__socials {
    margin-bottom: -2rem;
    margin-top: 2rem;
  }
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }

  .header__container {
    justify-content: center;
  }

  .header__container h1 {
    font-size: 2.2rem;
    margin-left: 2rem;
  }

  .header__container h5 {
    color: var(--color-primary);
    font-size: 4rem;
    margin-left: 2rem;
  }

  /* =================== HEADER SOCIALS ========================== */
  .header__socials {
    margin-top: 0rem;
    position: absolute;
    top: 10rem;
  }
  /* =================== CTA ========================== */
  .cta {
    margin-left: 2rem;
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ===================== */
@media screen and (max-width: 600px) {
  #arrowIcon {
    display: block;
  }

  header {
    height: 100vh;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header__container h1 {
    font-size: 25px;
    margin: 0;
  }

  .header__container h5 {
    font-size: 2rem;
    margin: 0;
  }

  .header_title__container {
    display: block;
  }

  /* =================== CTA ========================== */
  .cta {
    margin: 2rem 0 0 0;
  }

  .cta :nth-child(2) {
    display: none;
  }

  /* =================== SCROLL DOWN ========================== */
  .scroll__down {
    display: none;
  }

  .header__socials {
    display: none;
  }
}

@keyframes updown {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}
