.container {
  padding-bottom: 4rem;
  width: 40%;
}

.testimonials__container {
  padding-bottom: 4rem;
}

.client__avatar {
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0.4rem solid var(--color-primary-variant);
  margin: 0 auto 1rem;
  overflow: hidden;
  width: 4rem;
}

.testimonial {
  background: var(--color-bg-variant);
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
  user-select: none;
}

.client__review {
  color: var(--color-light);
  display: block;
  font-weight: 300;
  margin: 0.8rem auto 0;
  width: 80;
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media screen and (max-width: 1024px) {
  .container .tesimonials__container {
    width: 60%;
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ===================== */
@media screen and (max-width: 600px) {
  .container .tesimonials__container {
    width: var(--container-width-sm);
  }
  .client__review {
    width: var(--container-width-sm);
  }

  .testimonial {
    padding: 0.5rem;
  }
}
