nav {
  border-radius: 3rem;
  bottom: 2rem;
  display: block;
  display: flex;
  gap: 0.8rem;
  left: 50%;
  padding: 0.7rem 1.7rem;
  position: fixed;
  transform: translate(-50%);
  width: max-content;
  z-index: 2;
}

nav > a {
  background-color: transparent;
  border-radius: 50%;
  color: var(--color-light);
  display: flex;
  font-size: 1.1rem;
  padding: 0.9rem;
}

nav > a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav > a.active {
  background: var(--color-bg);
  color: var(--color-white);
}
